---
layout: default
---
{% if page.date %} em {{ page.date | date: "%d/%m/%Y"  }}{% if page.last_updated %}, atualizado em {{ page.last_updated | date: "%d/%m/%Y" }}{% endif %}</div>{% endif %}

<div class="content">
{{ content }}
</div>
 
{% if site.related_posts.size > 0 %}
<div id="related">
  <h3>P&aacute;ginas relacionadas</h3>
  <ul class="nav nav-pills nav-stacked">
    {% for post in site.related_posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if site.disqus %}
<div id="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = "{{ page.url }}";
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://{{ site.disqus.id }}.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.id }}">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
